<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/c3.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/javascripts/src/c3.min.js"></script>
    <script src="/javascripts/myGraphC3_v2.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
