a {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
}
html, body, #viewDiv {
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
}
#myGraph {
  height: 450px;
  width: 100%;
}
#dailyGraph {
  height: 450px;
  width: 100%;
}
#map {
  height: 400px;
  width: 100%;
  position: absolute;
}
